<h2>{{ request.method }} {{ request.path }} </h2>
<span>(at {{ request.date }})</span>
<dl>

    <dt>params</dt>
    <dd>

        <dl>
            {% for key, param in request.params %}
                <dt>{{ key }}</dt>
                <dd>
                    {% if param is iterable %}
                        {{ dump(param) }}
                    {% else %}
                        {{ param }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    </dd>
</dl>

<h2>response</h2>
<dl>
    <dt>httpcode</dt>
    <dd>{{ response.httpcode }}</dd>

    <dt>content</dt>
    <dd>
        {% if response.content is iterable %}

        {% else %}
           {{ response.content }}
        {% endif %}
    </dd>
</dl>